{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime",
    "transform-flow-strip-types",
    "react-hot-loader/babel"
  ]
}
